@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
:root {
    --grey: #292929;
    --lightgrey: #767676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width:100%;
    min-height:100vh;
    overflow:scroll;
    background:#000;
}
header{
    width:100%;
    height:60px;
    background:#000;
    position:fixed;
    top:0;
    right:0;
    padding:5px;
    display:flex;
    align-items:center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#fff;
    justify-content:flex-start;
}
header .nav-item{
    list-style-type:none;
    padding:10px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.line{
    width:40px;
    height:4px;
    border-radius:50px;
    background:white;
    position:absolute;
    bottom:10px;
    transition:all 0.3s ease-in-out;
}
.all_images_cont{
    width: 100%;
    height: auto;
    background: #000;
    padding:60px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    grid-gap: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius:25px;
    object-fit: contain;

}
.divv{
    max-width: 100%;
    min-height: 280px;
    border-radius:25px;
    object-fit: contain;

}
.imgdiv{
    width:auto;
    height:auto;
}
.search_cont{
    width:100%;
    height:auto;
    background:#000;
    padding:20px 0;
    padding-bottom:80px;
    display:none;
    overflow:scroll;
}
.search_input{
    width:95%;
    height:45px;
    padding:10px;
    border-radius:50px;
    background:var(--grey);
    color:var(--lightgrey);
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom:20px;
    transition:all 0.2s ease;
}
.search_input input{
    width:100%;
    padding:10px;
    outline:none;
    background:transparent;
    color:#fff;
    border:none;
}
.search_input i.fa{
    padding:10px;
    font-size:18px;
    font-weight:bolder;
}
.search{
    color:#fff;
    padding:10px;
    display:none;
    margin-top:-20px;
}
.all_sinp .fa-arrow-left{
    color:#fff;
    padding:10px;
    display:none;
    margin-top:-20px;
}
.all_sinp{
    width:100%;
    display:flex;
    position:fixed;
    top:0;
    left:0;
    background-color:#000;
    padding-top:15px;
    color:#fff;
    align-items:center;
    justify-content:space-around;
}
.history{
    width:100%;
    height:auto;
    background:#000;
    padding:;
    margin-top:50px;
    display:none;
    padding:20px 0;
    color:#fff;
}
.search_result{
    width: 100%;
    height: auto;
    background: #000;
    display:none;
}
.show_result{
    width: 100%;
    height:100vh;
    background: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    color:#fff;
    padding:50px 0;
    grid-gap: 10px;
}
.result_head{
    width:100%;
    height:auto;
    padding:10px;
    background:#000;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position:fixed;
    top:0;
    left:0;
    color:#fff;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.result_head i.fa{
    font-size:20px;
    padding:5px;
}
.result_title{
    margin-left:15px;
}
.h_list{
    padding:10px;
    list-style-type:none;
    font-weight:bold;
    width:100%;
}
.h_list{

}
.h_list i{
    padding:10px;
}
.h_list i.fa-times{
    float:right;
}
.search_content{
    width:100%;
    height:100%;
    background:#000;
    padding:;
    margin-top:60px;
}
.f_title{
    width:100%;
    height:auto;
    text-align:center;
    color:#fff;
    font-weight:bolder;
    padding:10px;
    margin:5px 0;
    font-size:18px;
}
.ideas_cont .ideas_item:nth-child(1) {
    background: orange url(https://example.com/kazakh_nature.jpg);
    background-size: cover;
}

.ideas_cont .ideas_item:nth-child(2) {
    background: dodgerblue url(https://example.com/astana_city.jpg);
    background-size: cover;
}

.ideas_cont .ideas_item:nth-child(3) {
    background: rgb(26, 175, 43) url(https://example.com/almaty_mountains.jpg);
    background-size: cover;
}

.ideas_cont .ideas_item:nth-child(4) {
    background: rgb(187, 65, 44) url(https://example.com/yurts.jpg);
    background-size: cover;
}
.ideas_item:active{
    scale:0.94;
}
.idtext{
    width:100%;
    height:90px;
    padding:10px;
    background:rgba(0,0,0,.5);
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.ideas_cont .ideas_item:nth-child(1){
    background:orange url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReS1zeOOZXFdbmS4RtQFkjnLASIc4ANe75dA&usqp=CAU);
    background-size:cover;
}
.ideas_cont .ideas_item:nth-child(2){
    background:dodgerblue url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT44-1xJWsV2PqOEbkyTP4ChAsIejnQAyjqfw&usqp=CAU);
    background-size:cover;
}
.ideas_cont .ideas_item:nth-child(3){
    background:rgb(26,175,43) url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTicFsfJBR3U2tK9MzwNDeIzM4odcfPEcmxIA&usqp=CAU);
    background-size:cover;
}
.ideas_cont .ideas_item:nth-child(4){
    background:rgb(187,65,44) url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTUE7QKG5BwmPrJ8pUZUqcygKatSVhaxIkFw&usqp=CAU);
    background-size:cover;
}

.ideas_cont2 .ideas_item:nth-child(1){
    background:#CDAD8D url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREs6FIbPqg2OxeYEkwy4Vl26WSupZiylurXA&usqp=CAU);
    background-size:cover;
}
.ideas_cont2 .ideas_item:nth-child(2){
    background:#AC7A7A url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf5vsLyflb--K4krrXYCHdNy4Rw9Tt9QWhqQ&usqp=CAU);
    background-size:cover;
}
.ideas_cont2 .ideas_item:nth-child(3){
    background:#2E1318 url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxoiRmV0tDnfOzuxaBX6lp3LPmoTzEkWPWXg&usqp=CAU);
    background-size:cover;
}
.ideas_cont2 .ideas_item:nth-child(4){
    background:#805C2F url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3PWyvvSpfUFQsN3M0XubIYO6cGPf43KCpcA&usqp=CAU);
    background-size:cover;
}
.ideas_cont2 .ideas_item:nth-child(5){
    background:orange url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTheOOJO-mE2RoxoC4IlorI5ke5Q96GnEFn4A&usqp=CAU);
    background-size:cover;
}
.ideas_cont2 .ideas_item:nth-child(6){
    background:aqua url(https://e0.pxfuel.com/wallpapers/904/698/desktop-wallpaper-city-landscape-old-belgium-classical-architecture-thumbnail.jpg);
    background-size:cover;
}

.two{
    display:none;
    width: 100%;
    height: auto;
    background: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    color:#fff;
    grid-gap: 10px;
}
.theee{
    display:none;
    width: 100%;
    height: auto;
    background: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    grid-gap: 10px;
}

.p_footer{
    width:100%;
    height:260px;
    background:#292929;
    position:fixed;
    bottom:0;
    right:0;
    padding:5px;
    color:#fff;
    border-radius:40px 40px 0 0;
    animation:slide .2s linear;
}
@keyframes slide{
    0%{
        height:0;
    }
    100%{
        height:260px;
    }
}
.p_fcont{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    display:none;
    background:rgba(0,0,0,.7);
    z-index:20;
}
.f_head{
    width:100%;
    height:auto;
    padding:15px 20px;
}
.f_head i.fa{
    font-size:26px;
    color:;
}
.f_content{
    width:100%;
    margin:0 auto;
    text-align:center;
    font-size:20px;
    padding:10px;
    margin-bottom:10px;
}
.f_icons{
    width:100%;
    height:auto;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.icon i.fa{
    width:70px;
    height:70px;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    background:rgba(255,255,255,.4);
    margin:0 10px;
    transition:all 0.1s ease-out;
}
.icon i.fa:active{
    scale:0.93;
}
.fname{
    width:100%;
    text-align:center;
    padding:5px;
    font-size:14px;
}
.message_cont{
    width:100%;
    height:100vh;
    background:#000;
    color:#fff;
    display:none;
}
.m_head{
    width:100%;
    height:50px;
    padding:25px;
    background:#000;
    display:flex;
    align-items:center;
    justify-content:center;
}
.msg_head{
    font-size:17px;
    padding:20px 0;
    margin:5px 0;
}
.share_ideas{
    width:100%;
    height:auto;
    padding:10px;
    font-size:25px;
    text-align:center;
    margin-top:65px;
}
.search_input_msg{
    width:95%;
    height:45px;
    padding:10px;
    border-radius:50px;
    background:var(--grey);
    color:var(--lightgrey);
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom:20px;
    margin-top:50px;
    transition:all 0.2s ease;
}
.search_input_msg input{
    width:100%;
    padding:10px;
    outline:none;
    background:transparent;
    color:#fff;
    border:none;
}
.search_input_msg i.fa{
    padding:10px;
    font-size:18px;
    font-weight:bolder;
}
.new_msg{
    display:flex;
    width:100%;
    align-items:center;
    padding:15px;
    padding-top:5px;
    padding-left:20px;
    justify-content:flex-start;
    padding:10px;
    transition:all 0.2s ease;
}
.new_msg2{
    display:flex;
    width:100%;
    align-items:center;
    padding:15px;
    padding-top:0;
    padding-left:20px;
    margin:5px 0;
    justify-content:space-between;
    padding:10px;
    padding-bottom:5px;
    transition:all 0.2s ease;
}
.new_msg2:active{
    background:rgba(255,255,255,.1);
}
.new_msg:active{
    background:rgba(255,255,255,.1);
}
.all_msg{
    display:flex;
}
.msg_icon{
    width:55px;
    height:55px;
    background:orange url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAyMO25JU72fPAKqq5tAJkk1uE13n3JHTi8w&usqp=CAU);
    background-size:cover;
    border-radius:50px;
    padding:15px;
}
.t{
    background:dodgerblue url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKVh3vCdJ6e8VzEvJWhsOXzNXike8bEu0hOA&usqp=CAU);
    background-size:cover;
}
.msg_name{
    padding:10px;
    font-size:17px;
    margin-top:0px;
}
.his_message{
    font-size:15px;
    width:100%;
    padding:5px;
    text-align:left;
    color:#595959;
}
.time{
    float:right;
    font-size:13px;
    color:#595959;
    margin-top:-3px;
}
.new_msg .fa-edit{
    font-size:20px;
    width:60px;
    height:60px;
    background:red;
    border-radius:50px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.new_msg .neww{
    padding:10px;
    font-size:20px;
}
footer{
    width:100%;
    height:60px;
    background:#000;
    position:fixed;
    bottom:0;
    right:0;
    padding:5px;
    display:flex;
    align-items:center;
    color:#fff;
    justify-content:space-evenly;
}
footer i.fa{
    color:#fff;
    font-size:23px;
    padding:5px;
    transition:.1s;
    font-weight:bolder;
}
footer i.fa:active{
    scale:1.25;
}
footer i.fa-plus{
    font-size:27px;
}
.profile_f{
    width:33px;
    height:33px;
    background:#fff url(https://blob.sololearn.com/avatars/2b358d51-d013-4252-9754-ee21def38174.jpg);
    background-size:cover;
    border:2px solid #fff;
    border-radius:50px;
    transition:all 0.2s ease-out;
}
.profile_f:active{
    scale:1.2;
}
.profile_cont{
    width:100vw;
    height:auto;
    background:#000;
    padding:80px 0;
    display:none;
}
.p_head{
    width:100%;
    height:55px;
    padding:10px;
    background:#000;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    z-index:100;
    color:#fff ;
}
.p_head i.fa{
    font-size:22px;
    padding:10px;
}
.profile_pic_cont{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px;
}
.profile_pic{
    width:130px;
    height:130px;
    background:white url(https://blob.sololearn.com/avatars/2b358d51-d013-4252-9754-ee21def38174.jpg);
    box-shadow:5px 5px 25px rgba(255,255,255,.05),-5px -5px 25px rgba(255,255,255,.05);
    background-size:cover;
    border-radius:50%;
}

.name_cont{
    width:100%;
    height:40px;
    display:flex;
    align-items:center;
    background:#000;
    justify-content:center;
    padding:10px;
    margin-top:5px;
}
.p_name{
    color:#fff;
    font-weight:bolder;
    font-size:25px;
    margin-top:-10px;
}
.dot{
    padding:5px;
}
.uname{
    font-size:16px;
    padding:5px;
    font-weight:normal;
    margin-top:-20px;
}
.second{
    color:#fff;
    margin-top:-20px;
}
.saved{
    color:#fff;
    margin-top:-10px;
}
.ss{
    margin-top:-10px;
}
.msg2{
    height:40px;
}
.items{
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:25px;
    font-size:20px;
    height:30px;
    height:45px;
    padding:10px;
}
.items i{
    padding:10px;
    transition:all 0.2s ease;
    border-radius:50px;
}
.items i:active{
    background:rgba(255,255,255,.15);
}
.imgs{
    margin-top:25px;
    width: 100%;
    height: auto;
    background: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    grid-gap: 10px;
}
.grids1{
    max-width: 100%;
    min-height: 220px;
    border-radius:10px;
    object-fit: contain;
}
.gone{
    background:orange url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScEl0N2Iy-epHjyy5TkUpZuYsxdeMpepsvew&usqp=CAU);
    background-size:cover;
}
.gtwo{
    background:purple url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkVZQomAPJExhyeO8V50qfSVfMW1CH5sy66g&usqp=CAU);
    background-size:cover;
}
.gthree{
    background:orange url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmFuFCQgqasrTTVYdFML1vuCf3UNcQ2VQS2Q&usqp=CAUØŸq=tbn:ANd9GcScEl0N2Iy-epHjyy5TkUpZuYsxdeMpepsvew&usqp=CAU);
    background-size:cover;
}
.gfour{
    background:orange url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH7agF39EaRzkJt8NXe8wWdm3ZltoYMX4VAg&usqp=CAU);
    background-size:cover;
}
.hide_them{
    display:none;
}
.load_cont{
    width:100vw;
    height:100%;
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0;
    right:0;
    z-index:2000;
    background:#000;
}
.pin_logo_cont{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.pin_logo{
    width:130px;
    height:130px;
    background:url(https://i.pinimg.com/originals/1b/76/01/1b7601e035a83c13c208b4ec905ee6d9.png);
    background-size:cover;
}
.pin_title{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.pin_title_img{
    width:200px;
    height:75px; background:url(https://www.freepnglogos.com/uploads/pinterest-text-logo-transparent-png-21.png);
    margin-top:-25px;
    background-size:cover;
}